*{
    margin: 0, 0, 0, 0;
    padding: 0;
    border: 0;
}

body{
    width: 2400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(99, 93, 93);
    user-select: none;
}

.plan1{
  display: flex;
  justify-content: flex-end;
}

.plan2{
  display: flex;
  justify-content: flex-end;
}

p1{
  position:absolute;
  left: 800px;
  font-size: 70px;
  font-family: monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppin", sans-serif;
  color: #30CFD0;
}

p2{
  position:absolute;
  left: 800px;
  font-size: 70px;
  font-family: monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppin", sans-serif;
  color: #30CFD0;
}


h1{
  display: flex;
  justify-content: center;
  font-size: 100px;
  margin-top: 10px;
  font-family: monospace;
  font-weight: 700;
  background-color: #30CFD0;
  -webkit-text-stroke: 5px black;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppin", sans-serif;
}

h1{
  animation-name: zmiana-koloru;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes zmiana-koloru {
  0% {background-color: #30CFD0;}
  50% {background-color: rgb(99, 93, 93);}
  100% {background-color: #30CFD0;}
}

h3{
    text-align: left;
    margin-left: 20px;
    font-size: 40px;
    font-family: monospace;
    font-weight: 500;
}

.text3{
    position: relative;
    left: 50px;
    top: -20px;
    font-size: 20px;
    font-family: monospace;
    font-weight: 500;
}

#article{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
.punkt1, .punkt2, .punkt3, .punkt4, .punkt5, .punkt6{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
    animation: pop-up 5s ease-in-out;
  }
  
.punkt1, .punkt2, .punkt3, .punkt4, .punkt5, .punkt6:hover {
    animation: pop-up 5s ease-in-out;
  }
  
  @keyframes pop-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


/*-------------------------------Content1*/

.content1{
  margin-top: 0px;
  font-size: 20px;
  color: #000000;
}

.article .punkt1{
  cursor: pointer; 
}

.article .content1 {
  max-height: 0; /* ukrywa treść artykułu */
  max-width: 300px;
  overflow: hidden; /* ukrywa dodatkowe zawartość, która wykracza poza kontener */
  transition: max-height 0.5s ease-out; /* dodaje płynną animację, gdy treść artykułu się pojawia */
}

.article .punkt1:hover + .content1 {
  max-height: 500px; /* ustawia maksymalną wysokość kontenera dla treści artykułu */
}

/*-------------------------------Content2*/
.content2{
  margin-top: 0px;
  font-size: 20px;
  color: #000000;
}

.article .punkt2{
  cursor: pointer; 
}

.article .content2 {
  max-height: 0; /* ukrywa treść artykułu */
  max-width: 300px;
  overflow: hidden; /* ukrywa dodatkowe zawartość, która wykracza poza kontener */
  transition: max-height 0.5s ease-out; /* dodaje płynną animację, gdy treść artykułu się pojawia */
}

.article .punkt2:hover + .content2 {
  max-height: 500px; /* ustawia maksymalną wysokość kontenera dla treści artykułu */
}

/*-------------------Content3*/
.content3{
  margin-top: 0px;
  font-size: 20px;
  color: #000000;
}

.article .punkt3{
  cursor: pointer; 
}

.article .content3{
  max-height: 0; /* ukrywa treść artykułu */
  max-width: 300px;
  overflow: hidden; /* ukrywa dodatkowe zawartość, która wykracza poza kontener */
  transition: max-height 0.5s ease-out; /* dodaje płynną animację, gdy treść artykułu się pojawia */
}

.article .punkt3:hover + .content3{
  max-height: 500px; /* ustawia maksymalną wysokość kontenera dla treści artykułu */
}

/*----------------Content4*/
.content4{
  margin-top: 0px;
  font-size: 20px;
  color: #000000;
}

.article .punkt4{
  cursor: pointer; 
}

.article .content4{
  max-height: 0; /* ukrywa treść artykułu */
  max-width: 300px;
  overflow: hidden; /* ukrywa dodatkowe zawartość, która wykracza poza kontener */
  transition: max-height 0.5s ease-out; /* dodaje płynną animację, gdy treść artykułu się pojawia */
}

.article .punkt4:hover + .content4{
  max-height: 500px; /* ustawia maksymalną wysokość kontenera dla treści artykułu */
}

/*-------------Content5*/
.content5{
  margin-top: 0px;
  font-size: 20px;
  color: #000000;
}

.article .punkt5{
  cursor: pointer; 
}

.article .content5{
  max-height: 0; /* ukrywa treść artykułu */
  max-width: 300px;
  overflow: hidden; /* ukrywa dodatkowe zawartość, która wykracza poza kontener */
  transition: max-height 0.5s ease-out; /* dodaje płynną animację, gdy treść artykułu się pojawia */
}

.article .punkt5:hover + .content5{
  max-height: 500px; /* ustawia maksymalną wysokość kontenera dla treści artykułu */
}

/*--------------Content6*/
.content6{
  margin-top: 0px;
  font-size: 20px;
  color: #000000;
}

.article .punkt6{
  cursor: pointer; 
}

.article .content6{
  max-height: 0; /* ukrywa treść artykułu */
  max-width: 300px;
  overflow: hidden; /* ukrywa dodatkowe zawartość, która wykracza poza kontener */
  transition: max-height 0.5s ease-out; /* dodaje płynną animację, gdy treść artykułu się pojawia */
}

.article .punkt6:hover + .content6{
  max-height: 500px; /* ustawia maksymalną wysokość kontenera dla treści artykułu */
}
/*----------------------END*/

.content1{
  position: absolute;
  top: 610px;
  left: 830px;
  font-size: 25px;
  font-weight: 300;
  color: #000000;
  font-family: monospace;
}

.punkt1{
  position: absolute;
  top: 510px;
  left: 830px;
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  font-family: monospace;
}

.punkt1:hover{
  color: #30CFD0;
}

.content2{
  position: absolute;
  top: 1780px;
  left: 830px;
  font-size: 25px;
  font-weight: 300;
  color: #000000;
  font-family: monospace;
}

.punkt2{
  position: absolute;
  top: 1680px;
  left: 830px;
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  font-family: monospace;
}

.punkt2:hover{
  color: #30CFD0;
}

.content3{
  position: absolute;
  top: 1780px;
  left: 1950px;
  font-size: 25px;
  font-weight: 300;
  color: #000000;
  font-family: monospace;
}

.punkt3{
  position: absolute;
  top: 1680px;
  left: 1950px;
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  font-family: monospace;
}

.punkt3:hover{
  color: #30CFD0;
}

.content4{
  position: absolute;
  top: 2610px;
  left: 830px;
  font-size: 25px;
  font-weight: 300;
  color: #000000;
  font-family: monospace;
}

.punkt4{
  position: absolute;
  top: 2510px;
  left: 830px;
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  font-family: monospace;
}

.punkt4:hover{
  color: #30CFD0;
}

.content5{
  position: absolute;
  top: 3780px;
  left: 830px;
  font-size: 25px;
  font-weight: 300;
  color: #000000;
  font-family: monospace;
}

.punkt5{
  position: absolute;
  top: 3680px;
  left: 830px;
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  font-family: monospace;
}

.punkt5:hover{
  color: #30CFD0;
}

.content6{
  position: absolute;
  top: 3780px;
  left: 1950px;
  font-size: 25px;
  font-weight: 300;
  color: #000000;
  font-family: monospace;
}

.punkt6{
  position: absolute;
  top: 3680px;
  left: 1950px;
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  font-family: monospace;
}

.punkt6:hover{
  color: #30CFD0;
}